# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.exe
*.ilk
*.pdb
*.obj
*.manifest
*.idb
*.dep
*.htm
*.ncb
*.suo
*.user
Real-time Near-field Global Illumiantion based on a Voxel Model/GeneratedFiles/Debug/moc_CentralWidget.cpp
Real-time Near-field Global Illumiantion based on a Voxel Model/GeneratedFiles/Debug/moc_MainWindow.cpp
Real-time Near-field Global Illumiantion based on a Voxel Model/GeneratedFiles/Debug/moc_PageDebugging.cpp
Real-time Near-field Global Illumiantion based on a Voxel Model/GeneratedFiles/Debug/moc_PageFilter.cpp
Real-time Near-field Global Illumiantion based on a Voxel Model/GeneratedFiles/Debug/moc_PageIndirectLight.cpp
Real-time Near-field Global Illumiantion based on a Voxel Model/GeneratedFiles/Debug/moc_PageScene.cpp
Real-time Near-field Global Illumiantion based on a Voxel Model/GeneratedFiles/Debug/moc_PageToneMapping.cpp
Real-time Near-field Global Illumiantion based on a Voxel Model/GeneratedFiles/Debug/moc_QSfmlWidget.cpp
Real-time Near-field Global Illumiantion based on a Voxel Model/GeneratedFiles/Debug/moc_Settings.cpp
Real-time Near-field Global Illumiantion based on a Voxel Model/GeneratedFiles/Debug/moc_SfmlView.cpp